.form {
  width: 400px;
  margin: 35px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(93, 92, 91);
  border-radius: 5px;
  gap: 20px;

  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form label input {
  padding: 10px;
  font-size: 18px;

  margin-left: 10px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form button {
  width: 200px;
  padding: 7px;
  align-self: center;
  margin-top: 10px;

  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(226, 226, 226);
  border: 1.5px solid rgb(117, 117, 117);
  border-radius: 5px;

  transition: 250ms all ease-in0;
}

.form button:hover,
.form button:focus {
  border: 1.5px solid rgb(0, 0, 0);
  opacity: 0.8;
}
